/* for cloaking until Vue instance finished compilation
[v-block]
  display: block

[v-cloak] v-cloak--block
  display: block

[v-cloak] v-cloak--inline
  display: inline

[v-cloak] v-cloak--inlineBlock
  display: inline-block

[v-cloak] v-cloak--hidden
  display: none

[v-cloak] v-cloak--invisible
  visibility: hidden

.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock
  display: none;


body
  margin: 0

.portfolio-item
  margin-bottom: 25px

.featuredvideo
  display: block
  max-width: 50%
  height: auto

footer
  margin: 50px 0
