<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vice Frontend Exercise</title>
    <!-- v-cloak is not being loaded quick enough to do its job so including here -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <!-- ExtractTextWebpacked css and sass -->
    <link href="stylesheets/main-one.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <section class="container">
            <section class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="">Vice Frontend Exercise</a>
            </section>
        </section>
    </nav>

    <!-- vue app container starts -->
    <article class="container" id="app">

        <!--
      <featured-video v-if="showFeaturedVideo"></featured-video>
-->
        <section class="row v-cloak--block" v-cloak>
          <!-- obviously could be further refined for semantic html with sass mixins to replace the tightly coupled bootstrap -->
            <section class="col-md-8">
                <h1>{{ featured.title }}</h1>
                <h2>Episodes: {{ featured.episodes }}</h2>
                <img class="img-responsive featuredvideo" v-bind:src="featured.product_image_url" alt="">
            </section>
        </section>

        <!-- /.row -->

        <!-- Related Videos -->
        <section class="row">

            <section class="col-lg-12">
                <h3 class="page-header">Related Videos</h3>
            </section>

            <template v-for="(item, index) in medialist">
              <section class="col-sm-3 col-xs-6">
                <p>{{ item.title }}</p>
                <p>Episodes: {{ item.episodes }}</p>
               <a :href="'?id=' + item.id" v-on:click.prevent="submit($event)">
                      <img class="img-responsive portfolio-item" :id="index" v-bind:src="item.product_image_url" alt="">
                  </a>
              </section>
            </template>

        </section>
        <!-- /.row -->
        <hr>

        </section>
        <!-- /.vue app container ends-->

        <script style="text/javascript" src="bundle.js"></script>


</body>

</html>
